@model IEnumerable<PizzaWebApp.ViewModels.IndivPizza_Size_Crust_Ingredients>

@{
    ViewData["Title"] = "ShowUsersOrders";
}

<h1>ShowUsersOrders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order.orderid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.crust.crust1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.size.size1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalcost)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.order.orderid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.crust.crust1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.size.size1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalcost)
                </td>
            </tr>
        }
        <a asp-action="OrderPizza">Back to Submit</a>
    </tbody>
</table>
